astroplan==0.8
astropy==5.2.2
Cartopy==0.21.1
certifi==2024.8.30
contourpy==1.1.1
cycler==0.12.1
ephem==4.1.5
fonttools==4.54.0
future==1.0.0
geographiclib==2.0
importlib_resources==6.4.5
katpoint==0.10.1
kiwisolver==1.4.7
matplotlib==3.7.5
mosaic @ https://github.com/wchenastro/Mosaic/archive/refs/heads/master.zip#sha256=5d2a701fd151b26af26ef4f1acea3fae22dc9ff42a090e48838708a6af059242
numpy==1.24.4
nvector==0.7.7
packaging==24.1
pandas==2.0.3
pillow==10.4.0
pybind11==2.10.3
pyerfa==2.0.0.3
pygedm==3.3.0
pyparsing==3.1.4
pyproj==3.5.0
pyshp==2.3.1
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
scipy==1.10.1
seaborn==0.12.2
shapely==2.0.6
six==1.16.0
tzdata==2024.2
zipp==3.20.2
